body{
	width: 960px;
	background-color: gray;
	margin: 0 auto;
}

.jumbotron{
	background-image: url("assets/images/banner.jpg");
	color: #fff;
}

h2{
	text-align: center;
}

h1{
	text-align: center;
}

p{
	text-align: center;
	font-size: 14px;
}

.main-image{
	width: 370px;
	margin-left: 44px;
}

.letters{
	padding: 2px;
}